<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title>Document</title>
</head>
<body>

  <section class="pricing py-5">
    <div class="container">
      <div class="row">
        <app-first-component title="FREE" class="col-lg-4" ></app-first-component>
        <app-first-component title="PLUS" class="col-lg-4"></app-first-component>
        <app-first-component title="PRO"  class="col-lg-4"></app-first-component>
      </div>
    </div>
  </section>
</body>
</html>